<h2><%= __('shopping_cart') %></h2>
<table>
    <tr>
        <th><%= __('service') %></th>
        <th><%= __('quantity') %></th>
        <th><%= __('price') %></th>
        <th><%= __('total') %></th>
        <th><%= __('action') %></th>
    </tr>
    <% cart.forEach(item => { %>
        <tr>
            <td><%= item.name %></td>
            <td><%= item.quantity %></td>
            <td><%= item.price %></td>
            <td><%= (item.price * item.quantity).toFixed(2) %></td>
            <td>
                <form action="/cart/remove" method="POST">
                    <input type="hidden" name="service_id" value="<%= item.service_id %>">
                    <button type="submit"><%= __('remove') %></button>
                </form>
            </td>
        </tr>
    <% }); %>
</table>

<form action="/cart/checkout" method="POST">
    <button type="submit"><%= __('checkout') %></button>
</form>
