<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <div class="logo">Print Center</div>
            </a>

            <!-- Mobile toggler -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/"><%= __('home') %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about"><%= __('about') %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile"><%= __('profile') %></a>
                    </li>
                    <% if (locals.user) { %>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-secondary ms-2" href="/api/logout"><%= __('logout') %></a>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-primary ms-2" href="/api/login"><%= __('login') %></a>
                        </li>
                    <% } %>
                    <li>
                      <form class="d-flex">
                    <select id="language-select" class="form-select" onchange="changeLanguage(this.value)">
                        <option value="en" <%= locale === 'en' ? 'selected' : '' %>>English</option>
                        <option value="ru" <%= locale === 'ru' ? 'selected' : '' %>>Русский</option>
                    </select>

                    </li>
                </ul>
           </div>
        </div>
    </nav>
</header>

<script>
 function changeLanguage(lang) {
    const redirectTo = window.location.pathname + window.location.search;
    const url = `/set-locale?lang=${lang}&redirectTo=${encodeURIComponent(redirectTo)}`;
    window.location.href = url;
  }
</script>

