<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Print Center</title>
    <link rel="stylesheet" href="/styles/Index.css">
    <link rel="stylesheet" href="/styles/Header.css">
    <link rel="stylesheet" href="/styles/Buttons.css">
    <link rel="stylesheet" href="/styles/Footer.css">
</head>
<body>
<!-- Navigation Bar -->
<%- include('./partials/header'); %>

<!-- Hero Section -->
<section class="hero">
    <h1>Fast & Reliable Printing Services</h1>
    <p>Get high-quality prints at affordable prices. Order online today!</p>
    <%- include('./partials/button', { href: '/services', text: 'Explore Services' }); %>
</section>

<!-- Services Section -->
<section class="services">
    <h2>Our Services</h2>
    <div class="service-container">
        <div class="service">
            <i class="fas fa-print"></i>
            <h3>Document Printing</h3>
            <p>High-quality prints for all your documents in any sizes and parameters.</p>
            <%- include('./partials/button', { href: '/services/document-printing', text: 'Learn More' }); %>
        </div>
        <div class="service">
            <i class="fas fa-copy"></i>
            <h3>Copy & Scanning</h3>
            <p>Fast and precise scanning and copying services.</p>
            <%- include('./partials/button', { href: '/services/copy-scanning', text: 'Learn More' }); %>
        </div>
        <div class="service">
            <i class="fas fa-paint-brush"></i>
            <h3>Graphic Design</h3>
            <p>Custom design solutions for your printing needs.</p>
            <%- include('./partials/button', { href: '/services/graphic-design', text: 'Learn More' }); %>
        </div>
        <div class="service">
            <i class="fas fa-paint-brush"></i>
            <h3>Merch Design</h3>
            <p>Custom design solutions for your merch, such as T-shirts, cups, etc.</p>
            <%- include('./partials/button', { href: '/services/merch-design', text: 'Learn More' }); %>
        </div>
    </div>
</section>
<%- include('./partials/footer')%>
</body>
</html>
