<!DOCTYPE html>
<html lang="<%= locale %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= __('logout_title') %></title>
    <%- include('./partials/favicon') %>
    <link rel="stylesheet" href="/styles/Logout.css"> <!-- Add your CSS file if needed -->
</head>
<body>
<div class="logout-container">
    <div class="logout-box">
        <h2><%= __('logout_message') %></h2>
        <p><%= __('logout_description') %></p>
        <a href="/api/login" class="btn"><%= __('login_button') %></a>
    </div>
</div>

<script>
    setTimeout(function() {
        window.location.href = "/";
    }, 5000); // Redirect after 5 seconds
</script>

</body>
</html>
